@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Josefin+Sans:wght@300;400;600&family=Lexend+Deca&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clr-grey {
    color: grey;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 700;
}

.fs-16 {
    font-size: 16px;
    line-height: 1.5;
}

.fs-large {
    font-size: 3.5rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.clr-desaturatedred {
    color: hsl(0 36% 70%);
}

.clr-drakgreyishred {
    color: hsl(0, 6%, 24%);
}

body {
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    position: relative;
    top: 0;
    left: 0;
}

.logo {
    margin-left: 2rem;
    position: absolute;
    top: 4vh;
    z-index: 1;
}

.logo > img{
    width: 150px;
}


.img-container {
    position: absolute;
    top:12vh;
    background: url(./images/hero-mobile.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vh;
    background-size: cover;
}
.title{
    margin-bottom: 1rem;
}
.col1 {
    position: absolute;
    top: 55vh;
    display: flex;
    flex-direction: column;
    padding: 3rem 2.4rem;
    background:  url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat:no-repeat;
}

.col1-data {
    text-align: center;
}

.description {
    margin-bottom: 1.75rem;
}

form {
    border: 1px solid hsl(0 36% 70%);
    position: relative;
    display: flex;
    height: 2.8rem;
    border-radius: 24px;
}

input {
    border-style: none;
    background-color: transparent;
    padding-left:1rem;
    position: absolute;
    left: 0;
    width: 100%;
    align-self: center;
    height: 100%;
    border-radius:24px;
}

input::placeholder {
    color: hsl(0 36% 70%);
    font-size: 16px;
}

input:focus {
    outline: none;
}

form button {
    border-style: none;
    border-radius: 20px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 10px 25px 0 rgb(234, 198, 198);
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 100%;
    width: 25%;
}

@media (min-width:992px) {
    .img-container{
        background: url(./images/hero-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: contain;
        background-position: top left;
        right: 0;
        width: 40vw;
        height: 100vh;
        top: 0;
    }
    .title{
        margin-bottom: 1.5rem;
    }
    .col1{
        left: 0;
        height: 100vh;
        top: 0;
        width: 60vw;
        display: flex;
        justify-content: center;
    }
    .col1-data{
        text-align: left;
        width: 44%;
        margin-left: 10rem;
    }
    .logo{
        position: absolute;
        top: 10vh;
        left: 10.5rem;
    }
    .description{
        margin-bottom: 1.5rem;
    }
    .fs-large{
        letter-spacing: 1rem;
    }

}


/* active states */
.error {
    margin-right: 1rem;
    align-self: center;
    position: absolute;
    right: 22%;
}

.hide {
    display: none;
}

.error-border {
    border: 1px solid hsl(0, 93%, 68%) !important;
}

.error-message {
    position: absolute;
    top: 115%;
    left: 5%;
    color: hsl(0 93% 68%);
}